@model List<Videoteka.Models.Domain.Zaposlenik>
@{
}
<h1>Zaposlenici</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID zaposlenika</th>
            <th>Ime <br>zaposlenika</th>
            <th>Prezime <br>zaposlenika</th>
            <th>Kontakt broj <br>zaposlenika</th>
            <th>E-mail <br>zaposlenika</th>
            <th>Pozicija <br>zaposlenika</th>
            <th>Plaća <br>zaposlenika</th>
            <th>Datum <br>zaposlenja</th>
            <th>Datum <br>rođenja</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var zaposlenik in Model)
        {<!--ispisivanje za svakog zaposlenika-->
            <tr>
                <td>@zaposlenik.ZaposlenikId</td>
                <td>@zaposlenik.ImeZaposlenika</td>
                <td>@zaposlenik.PrezimeZaposlenika</td>
                <td>@zaposlenik.BrojTelZaposlenika</td>
                <td>@zaposlenik.EmailZaposlenika</td>
                <td>@zaposlenik.PozicijaZaposlenika</td>
                <td>@zaposlenik.PlacaZaposlenika</td>
                <td>@zaposlenik.DatumZaposlenja.ToString("dd.MM.yyyy.")</td>
                <td>@zaposlenik.DatumRodenja.ToString("dd.MM.yyyy.")</td>
                <td><a href="Zaposlenici/View/@zaposlenik.ZaposlenikId">Uredi/Izbriši</a></td>
                
            </tr>
        }
    </tbody>
</table>
<form>
<button type="submit" class="btn btn-primary" asp-area="" asp-controller="Zaposlenici" asp-action="Add">Dodaj zaposlenika</button>
</form>