@model List<Videoteka.Models.Domain.Clan>
@{
}
<h1>Članovi</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID člana</th>
            <th>Ime <br>člana</th>
            <th>Prezime <br>člana</th>
            <th>Kontakt <br>broj člana</th>
            <th>E-mail</th>
            <th>Grad</th>
            <th>Poštanski <br>broj</th>
            <th>Ulica</th>
            <th>Kućni <br>broj</th>
            <th>Datum <br>prijave</th>
            <th>Izdavanje <br> članarine</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var clan in Model)
        {
            <tr>
                <td>@clan.ClanId</td>
                <td>@clan.ImeClana</td>
                <td>@clan.PrezimeClana</td>
                <td>@clan.BrojTelClana</td>
                <td>@clan.EmailClana</td>
                <td>@clan.GradClana</td>
                <td>@clan.PosKod</td>
                <td>@clan.UlicaClana</td>
                <td>@clan.KucniBrClana</td>
                <td>@clan.PrijavljenDatum.ToString("dd.MM.yyyy.")</td>
                <td>@clan.DatumClanarine.ToString("dd.MM.yyyy.")</td>
                <td><a href="Clanovi/View/@clan.ClanId">Uredi/Izbriši</a></td>
            </tr>
        }
    </tbody>
</table>
<form>
    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Clanovi" asp-action="Add">Dodaj člana</button>
</form>